.stack {
    display:flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.cell {
    aspect-ratio: 1/1;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}

.highlight {
    background-color: pink;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
